* {
margin:0;
padding:0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header_top{
    background-color: #222222;
    height: 75px;
}

.header_bottom{
    height: 764px;
    background: #F1E4E6;
}

.maga-box{
    padding: 33px;
    position: absolute;
}